/* ==UserStyle==
@name         Globals
@version      5.2.1
@description  Global definitions
@namespace    http://www.w3.org/1999/xhtml
@author       aronsson02
@homepageURL  https://github.com/aronsson02/dot-files
@supportURL   https://github.com/aronsson02/dot-files/issues
@updateURL    https://raw.githubusercontent.com/aronsson02/dot-files/master/rice/www/Globals.user.css
==/UserStyle== */
@-moz-document regexp(".*") {
	:root {
		--Foreground: #EEEEEE;
		--Foreground-Variant: #EEEEEECC;
		--Foreground-Dark: #EEEEEE66;
		--Foreground-Transparent: #EEEEEE33;
		--Background: #282a36;
		--Surface: #343746;
		--Surface-Variant: #42465b;
		--Surface-Transparent: #00000066;
		--Surface-Transparent-Alternative: #00000033;
		--Surface-Alternative: #25283F;
		--Primary: #a179c0;
		--Primary-Dark: #8660a4;
		--Primary-Transparent: #a179c080;
		--Secondary: #E72F6B;
		--Secondary-Transparent: #E72F6B80;
		--Mast: var(--Surface-Alternative);
		--Mast-Transparent: #25283F80;
		--Mast-Variant: #2e324f;
		--Mast-Dark: #1c1e2f;
		--grey: #808080;
		--red: #F2303B;
		--red-old: #F44336;
		--orange: #ffb86c;
		--orange-old: #ea9d1c;
		--dark-orange: #1F1504;
		--green: #50fa7b;
		--green-old: #00E676;
		--blue: #8be9fd;
		--blue-dark: #120056;
		--yellow: #f1ff52;
		--blur: blur(40px) contrast(0.9) saturate(1.5);
		/* backdrop-filter: var(--blur) */
		--blur-hover: blur(10px) contrast(0.9) saturate(1.5);
		--blur-variant: blur(5px) contrast(0.9) saturate(1.5);
		--blur-dark: var(--blur) brightness(66%);
		--blur-dark-hover: var(--blur-hover) brightness(66%);
		--blur-dark-variant: var(--blur-variant) brightness(66%);
		--blur-bright: var(--blur) brightness(110%);
		--blur-bright-hover: var(--blur-hover) brightness(110%);
		--blur-bright-variant: var(--blur-variant) brightness(110%);
		--Mast-Shadow: 0 0 8px 1px var(--Mast);
		--Mast-Variant-Shadow: 0 0 8px 1px var(--Mast-Variant);
		--Rounding: 8px;
		--Rounding-Bottom: 0 0 var(--Rounding) var(--Rounding);
		--Rounding-Top: var(--Rounding) var(--Rounding) 0 0;
		--Rounding-Left: var(--Rounding) 0 0 var(--Rounding);
		--Rounding-Right: 0 var(--Rounding) var(--Rounding) 0;
		--Rounding-Variant: 16px;
		--Rounding-Variant-Bottom: 0 0 var(--Rounding-Variant) var(--Rounding-Variant);
		--Rounding-Variant-Top: var(--Rounding-Variant) var(--Rounding-Variant) 0 0;
		--Rounding-Variant-Left: var(--Rounding-Variant) 0 0 var(--Rounding-Variant);
		--Rounding-Variant-Right: 0 var(--Rounding-Variant) var(--Rounding-Variant) 0;
		--Anim-Google-One: google-one 6s ease infinite;
		--Spinner: var(--Primary) transparent;
	}

	*:not(.fa):not(.fas):not(.far):not(.DPvwYc):not(.glyphicon):not(.material-icons):not(.material-icons-extended):not(.google-material-icons):not(.w-icon):not(.goog-inline-block):not(.el-input__icon):not(.el-icon-arrow-up):not(.el-icon-arrow-down) {
		font-family: "OSUF" !important;
	}

	* {
		scrollbar-width: none !important;
	}

	::-webkit-scrollbar {
		display: none !important
	}

	/*
	x {
	mask: linear-gradient(to right, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0) 99%)
	}
	*/
	/* animation: hue-rotate 6s linear infinite !important */
	@keyframes hue-rotate {
		0% {
			filter: hue-rotate(0deg);
		}
		100% {
			filter: hue-rotate(360deg);
		}
	}

	/*  animation: filter 6s linear infinite !important */
	@keyframes filter {
		0% {
			filter: hue-rotate(360deg) sepia(0);
			background: linear-gradient(45deg, #aa1100, #ff4400, #ffbb11, #55aa00, #000055, #fb0082);
		}
		50% {
			filter: hue-rotate(0) sepia(50%);
			background: linear-gradient(45deg, #aa1100, #ff4400, #ffbb11, #55aa00, #000055, #fb0082);
		}
		100% {
			filter: hue-rotate(360deg) sepia(0);
			background: linear-gradient(45deg, #aa1100, #ff4400, #ffbb11, #55aa00, #000055, #fb0082);
		}
	}

	@keyframes google-one {
		10% {
			transform: rotate(0deg);
		}
		20% {
			transform: rotate(-20deg);
			filter: saturate(100%)
		}
		40% {
			transform: rotate(1100deg);
			filter: saturate(150%)
		}
		50% {
			transform: rotate(1080deg);
			filter: saturate(100%)
		}
		55% {
			transform: rotate(1080deg);
			filter: saturate(100%)
		}
		65% {
			transform: rotate(1100deg);
			filter: saturate(100%)
		}
		85% {
			transform: rotate(-20deg);
			filter: saturate(150%)
		}
		100% {
			transform: rotate(0deg);
			filter: saturate(100%)
		}
	}
	/* animation: danger 1s linear infinite */
	@keyframes danger {
		0% {
			background-color: var(--red);
		}
		50% {
			background-color: var(--orange);
		}
		100% {
			background-color: var(--red);
		}
	}
	/* animation: danger-text 1s linear infinite */
	@keyframes danger-text {
		0% {
			color: var(--red);
		}
		50% {
			color: var(--orange);
		}
		100% {
			color: var(--red);
		}
	}
	/* animation: fade-in 3s ease 0s 1 */
	@keyframes fade-in {
		0% {
			opacity: 0;
			transform: scale(0.5)
		}
		75% {
			opacity: 0;
			transform: scale(0.5)
		}
		100% {
			opacity: 1;
			transform: scale(1)
		}
	}
	/*
		min-height: 100%;
		background: linear-gradient(rgba(255, 0, 0, 1) 0%, rgba(255, 154, 0, 1) 10%, rgba(208, 222, 33, 1) 20%, rgba(79, 220, 74, 1) 30%, rgba(63, 218, 216, 1) 40%, rgba(47, 201, 226, 1) 50%, rgba(28, 127, 238, 1) 60%, rgba(95, 21, 242, 1) 70%, rgba(186, 12, 248, 1) 80%, rgba(251, 7, 217, 1) 90%, rgba(255, 0, 0, 1) 100%) 0 0/100% 200%;
		animation: shift 2s linear infinite;
	*/
	@keyframes shift {
		to {
			background-position: 0 -200%
		}
	}
}
