/* ==UserStyle==
@name         Pixiv
@version      1.0.7
@description  Pixiv
@namespace    http://www.w3.org/1999/xhtml
@author       aronsson02
@homepageURL  https://github.com/aronsson02/dot-files
@supportURL   https://github.com/aronsson02/dot-files/issues
@updateURL    https://raw.githubusercontent.com/aronsson02/dot-files/master/rice/www/Pixiv.user.css
==/UserStyle== */
@-moz-document domain("pixiv.net") {
	.lPHpt, .fqSxey, .jkzKWL, .drFRmD, .fqNqlu {
		background: none !important;
		backdrop-filter: var(--blur) !important
	}
	.gMEAWM {
		background: none !important;
		backdrop-filter: blur(50px) !important;
		mask: linear-gradient(to right, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 1) 100%)
	}
	.sc-1wmoqw-1, .ddXsIb {
		background: none !important;
		backdrop-filter: var(--blur-dark) !important
	}
	.eqrGHc {
		background: none !important;
		backdrop-filter: var(--blur-bright) !important
	}
	.sc-1wmoqw-0, .bSLemN, .hMFZAj, .hYBINe, .sc-162tykz-0, .sc-1ow64s0-1, .ggMyQW, .eRCXIR {
		background: none !important;
		backdrop-filter: var(--blur-dark-variant) !important
	}
	.ckuYsq, .kDlMmy, .cuTZeZ, .cuTZeZ, .cxXhWC, .dWlHet, .cxqcFu, .kIMeEI, .kKdVSq, .eMoZaF, .gJBZuv, .cYUezH::before, .one_column_body, .onecolumnBottom {
		background: none !important
	}
	.beQeCv, .sc-1pkrz0g-0, body, .list-items, input[type="text"], input[type="email"], input[type="password"], textarea {
		background-color: var(--Background) !important
	}
	.bGUtlw, .YUFLT, .hdvpLU, ._unit, .footer, .fQcsvd, .hPvyhe, .one_column {
		background-color: var(--Surface) !important
	}
	.bookmark-detail-unit .input-box, .bookmark-detail-unit .input-box input, ._3LhShlo._2sMeHzD {
		background-color: var(--Surface-Variant) !important
	}
	.cvkPAH {
		background-color: var(--Surface-Transparent) !important
	}
	.kKdVSq:hover {
		background-color: var(--Foreground-Transparent) !important
	}
	.iUhfll, .biNiqG {
		background-color: var(--Mast) !important
	}
	.eMoZaF:hover {
		background-color: var(--Primary-Transparent) !important
	}
	._button, .button-small, ._button-large, .submit-container .submit, .submit-container .cancel, .follow, .request-mypixiv, .following, .mypixiv, .questionnaire input, .create-group-settings input[type="submit"], .button-on, .button-small-on, ._2Of8xxg:hover, .fwkkiC, .kmHafz, .fOWAlD {
		background: var(--Primary) !important;
		color: black !important;
		text-shadow: none !important;
		border: none !important;
		transition: background 0.2s ease !important
	}
	._button:hover, .button-small:hover, ._button-large:hover, .submit-container .submit:hover, .submit-container .cancel:hover, .follow:hover, .request-mypixiv:hover, .following:hover, .mypixiv:hover, .questionnaire input:hover, .create-group-settings input[type="submit"]:hover, .tag-cloud .selected, ._2Of8xxg, .bbTNLI, .fwkkiC:hover:not(:disabled):not([aria-disabled]), .fwkkiC:hover[aria-disabled="false"], .kmHafz:hover:not(:disabled):not([aria-disabled]), .kmHafz:hover[aria-disabled="false"], .fOWAlD:hover:not(:disabled):not([aria-disabled]), .fOWAlD:hover[aria-disabled="false"] {
		background: var(--Primary-Light) !important
	}
	body, input::placeholder, .drFRmD, .lhErbU {
		color: var(--Foreground) !important
	}
	.inwVTq, ._3LhShlo._2sMeHzD, .kopUgZ, input[type="text"], input[type="email"], input[type="password"], textarea {
		color: var(--Foreground-Variant) !important
	}
	.bXjFLc {
		color: var(--red) !important
	}
	.tag-cloud .selected, ._2Of8xxg, .fUCwNW, .fivNSm {
		color: black !important
	}
	._unit, .footer, .bookmark-detail-unit .input-box, .kQWGSb, .one_column_body, .onecolumnBottom, input[type="text"], input[type="email"], input[type="password"], textarea {
		border: none !important
	}
	input[type="text"], input[type="email"], input[type="password"], textarea {
		border-radius: 5px !important
	}
	.list-items, .jOmqKq, .lbGgEo {
		border-radius: var(--Rounding) !important;
	}
	.jkzKWL, ._button-large, .submit-container .submit, .fXmjBM, .iyuGOa, .one_column {
		border-radius: var(--Rounding-Variant) !important;
	}
	.bookmark-detail-unit, .footer {
		border-radius: var(--Rounding-Variant-Top) !important;
	}
	.bookmark-list-unit {
		border-radius: var(--Rounding-Variant-Bottom) !important;
	}
	.hYfnPb, .kYCYRk {
		border-radius: var(--Rounding) !important;
		transition: border-radius 1s ease 1s !important;
		overflow: hidden !important
	}
	.hYfnPb:hover, .ipxRsa:hover .kYCYRk {
		border-radius: var(--Rounding-Variant) !important;
		transition: border-radius .2s ease !important;
		overflow: hidden !important
	}
	.goYuhC {
		border-radius: 999px !important;
		transition: border-radius 5s ease 1s !important
	}
	.goYuhC:hover {
		border-radius: var(--Rounding-Variant) !important;
		transition: border-radius .5s ease !important
	}
	.hdvpLU {
		border-radius: 8px !important;
		padding: 0 16px !important
	}
	.tag-cloud span {
		transition: all 0.2s ease !important;
		border-radius: 999px !important;
		padding-left: 6px !important;
		padding-right: 6px !important
	}
	.epNrEx {
		padding: 0px !important
	}
	.sc-rp5asc-10:not(.kYCYRk) {
		opacity: 1 !important;
		transition: all .2s ease !important
	}
	.khjDVZ:hover .sc-rp5asc-10:not(.kYCYRk) {
		opacity: 1 !important;
		transform: scale(1.2) !important;
		transition: all .2s ease !important
	}
	.gtIBwZ {
		min-height: 700px !important;
		max-height: 1400px !important
	}
	.gvleGn {
		height: 250px !important;
		background-color: var(--Surface) !important;
		padding: 16px !important;
		border-radius: var(--Rounding-Variant) !important;
	}
	@media screen and (min-width: 1700px) {
		.gTaKEp, .juyBTC {
			width: 1640px !important;
			transform: translatex(-208px) !important
		}
		.krFoBL {
			grid-template-columns: repeat(8, 184px) !important
		}
	}
	.cJkTBJ {
		min-height: 100%;
		background: linear-gradient(110deg, rgba(255, 0, 0, 1) 0%, rgba(255, 154, 0, 1) 10%, rgba(208, 222, 33, 1) 20%, rgba(79, 220, 74, 1) 30%, rgba(63, 218, 216, 1) 40%, rgba(47, 201, 226, 1) 50%, rgba(28, 127, 238, 1) 60%, rgba(95, 21, 242, 1) 70%, rgba(186, 12, 248, 1) 80%, rgba(251, 7, 217, 1) 90%, rgba(255, 0, 0, 1) 100%) 0 0/200% 100%;
		animation: shift 2s linear infinite;
	}
	.epNrEx {
		mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%)
	}
	.sc-1nhgff6-3 {
		mask: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0) 100%)
	}
	.fQcsvd, .dFLqqk, .jqMLBd {
		display: none !important
	}
}
