/* ==UserStyle==
@name         Stylus
@version      2.1.0
@description  Stylus theme.
@namespace    http://www.w3.org/1999/xhtml
@author       aronsson02
@homepageURL  https://github.com/aronsson02/dot-files
@supportURL   https://github.com/aronsson02/dot-files/issues
@updateURL    https://raw.githubusercontent.com/aronsson02/dot-files/master/rice/www/Stylus.user.css
==/UserStyle== */

@-moz-document url-prefix("moz-extension://"), url-prefix("chrome-extension://") {
	#stylus-options, #message-box > div {
		backdrop-filter: var(--blur) !important;
		background: none !important
	}
	#message-box {
		backdrop-filter: var(--blur-dark-variant) !important;
		background: none !important
	}
	#options-title, #message-box-title, .entry.usercss .style-name-link::after, .active #filters-stats {
		background-color: var(--Primary) !important
	}
	#options, #message-box-buttons {
		background: none !important
	}
	h1 {
		color: var(--Foreground) !important
	}
	.active #filters-stats, .entry.usercss .style-name-link::after, #options-title {
		color: black !important
	}
	#options-close-icon, #message-box-close-icon {
		filter: brightness(0%) !important
	}
	.actions {
		filter: brightness(200%) !important
	}
}
