
/**
 *
 * Author : Levi Lacoss (fishyfishfish55)
 * Github : @fishyfishfish55
 *
 * Colors
 **/

* {
    background:     #00000040;
    background-alt: #282B3CFF;
    foreground:     #EEEEEE;
    selected:       #22CCCB;
    active:         #414868;
    urgent:         #ECD3A0;
}
