:root {
		--Foreground: #EEEEEE;
		--Foreground-Variant: #EEEEEECC;
		--Foreground-Dark: #EEEEEE66;
		--Foreground-Transparent: #EEEEEE33;
		--Background: #101010;
		--Surface: #202020;
		--Surface-Variant: #303030;
		--Surface-Transparent: #00000066;
		--Surface-Transparent-Alternative: #00000033;
		--Surface-Alternative: #25283F;
		--Primary: #00FFFF;
		--Primary-Dark: #00CCCC;
	  --Primary-Transparent: #00FFFF80;
		--Secondary: #FF00FF;
		--Secondary-Transparent: #FF00FF80;
		--Mast: var(--Surface-Alternative);
		--Mast-Transparent: #25283F80;
		--Mast-Variant: #2e324f;
		--Mast-Dark: #1c1e2f;
		--grey: #808080;
		--red: #F2303B;
		--red-old: #F44336;
		--orange: #EA9D1C;
		--dark-orange: #1F1504;
		--green: #00E676;
		--blue: #120056;
		--yellow: #f1ff52;
		--blur: blur(40px); /* backdrop-filter: var(--blur) */
		--blur-hover: blur(10px);
		--blur-variant: blur(5px);
		--blur-dark: var(--blur) brightness(66%);
		--blur-dark-hover: var(--blur-hover) brightness(66%);
		--blur-dark-variant: var(--blur-variant) brightness(66%);
		--blur-bright: var(--blur) brightness(110%);
		--blur-bright-hover: var(--blur-hover) brightness(110%);
		--blur-bright-variant: var(--blur-variant) brightness(110%);
		--Mast-Shadow: 0 0 8px 1px var(--Mast);
		--Mast-Variant-Shadow: 0 0 8px 1px var(--Mast-Variant);
		--Rounding: 8px;
		--Rounding-Bottom: 0 0 var(--Rounding) var(--Rounding);
		--Rounding-Top: var(--Rounding) var(--Rounding) 0 0;
		--Rounding-Left: var(--Rounding) 0 0 var(--Rounding);
		--Rounding-Right: 0 var(--Rounding) var(--Rounding) 0;
		--Rounding-Variant: 16px;
		--Rounding-Variant-Bottom: 0 0 var(--Rounding-Variant) var(--Rounding-Variant);
		--Rounding-Variant-Top: var(--Rounding-Variant) var(--Rounding-Variant) 0 0;
		--Rounding-Variant-Left: var(--Rounding-Variant) 0 0 var(--Rounding-Variant);
		--Rounding-Variant-Right: 0 var(--Rounding-Variant) var(--Rounding-Variant) 0;
		--Anim-Google-One: google-one 6s ease infinite;
		--Spinner: var(--Primary) transparent;
	}
* {
		scrollbar-width: none !important;
		color-scheme: dark !important;
	}
@keyframes hue-rotate {
	0% {
		filter: hue-rotate(0deg);
	}
	100% {
		filter: hue-rotate(360deg);
	}
}
@keyframes filter {
	0% {
		filter: hue-rotate(360deg) sepia(0);
	}
	50% {
		filter: hue-rotate(0) sepia(50%);
	}
	100% {
		filter: hue-rotate(360deg) sepia(0);
	}
}
@-moz-document url("about:home"),
url(about:preferences),
url("about:blank"),
url("about:newtab"),
url("about:privatebrowsing") {
	body {
		background-color: var(--Background)!important;
		background-image: url("paper.png") !important;
		background-position: center !important;
		background-repeat: no-repeat;
		--newtab-search-icon: transparent !important;
	}
	a,
	a:visited,
	a:hover {
		color: var(--Primary) !important
	}
	#private-browsing-myths {
		color: var(--Primary-Transparent) !important
	}
	body {
	}
	#newtab-search-text {
		background-color: var(--Background) !important;
		font-size: 18px !important;
		color: var(--Foreground-Dark) !important;
		box-shadow: none !important;
		text-align: center !important;
		border: none !important;
		font-weight: bold !important;
	}
	.collapsible-section {
		background-color: transparent !important;
		backdrop-filter: var(--blur-dark);
		border-radius: 48px !important;
	}
	.showPrivate.showSearch.container {
		background-color: transparent !important;
		backdrop-filter: var(--blur-dark);
		border-radius: 32px !important;
		overflow: hidden !important;
		padding-top: 32px !important;
	}
	.showPrivate.showSearch.container .info {
		border-radius: 32px !important;
	}
	.collapsible-section.active {
		background-color: var(--Surface-Variant) !important;
		border-radius: 16px !important;
	}
	.non-collapsible-section, #private-browsing-myths {
		display: none !important;
	}
	.modalOverlayOuter {
		background-color: transparent !important;
		backdrop-filter: var(--blur-variant);
		border-radius: 64px !important;
	}
	.context-menu, .modal, #preferences-stack, .customize-menu {
		background-color: transparent !important;
		backdrop-filter: var(--blur-dark);
	}
	.customize-menu, .search-inner-wrapper .search-handoff-button:hover, .search-handoff-button.focused:not(.disabled) {
		background-color: var(--Surface-Transparent) !important;
	}
	.fake-textbox {
		color: var(--Foreground) !important;
	}
	.actions, .search-handoff-button {
		border: none !important;
	}
	.top-site-outer {
		padding: 24px 14px 2px !important;
}
	.topsite-form .form-wrapper input[type="text"] {
		background-color: var(--Surface-Transparent) !important;
	}
	.top-site-outer {
		border-radius: 32px !important;
		transition: background-color 500ms 500ms, border-radius 300ms 400ms !important;
	}
	.top-sites-list:not(.dnd-active) .top-site-outer:is(.active, :focus, :hover) {
		background-color: var(--Surface-Transparent) !important;
		border-radius: 32px 16px 32px 32px !important;
		transition: background-color 500ms, border-radius 300ms 200ms !important;
	}
	.top-site-outer .tile, .top-site-outer .context-menu-button:is(:active, :focus) {
		background-color: var(--Surface-Transparent) !important;
		border-radius: 999px !important;
		overflow: hidden;
		mask: radial-gradient(rgba(0,0,0,1) 55%, rgba(0,0,0,0) 70%)
	}
	.top-site-outer .tile .icon-wrapper {
		width: 85px !important;
		height: 85px !important;;
	}
	.top-site-outer .context-menu-button {
		transition-delay: 300ms !important;
	}
	.top-site-outer:hover .context-menu-button {
		transition-delay: 300ms !important;
	}
	.search-wrapper input {
		--newtab-textbox-focus-boxshadow: none !important;
		padding-left: 20px !important;
		padding-inline-end: 13px !important;
	}
	.search-wrapper .logo-and-wordmark .wordmark {
		display: none!important;
	}
	.search-wrapper .logo-and-wordmark {
		margin-bottom: 40px!important;
		padding-top: 60px!important;
		filter: saturate(30%) opacity(50%)!important;
	}
	.search-button {
		background: none !important;
	}
	.info {
		background-color: transparent !important;
	}
	.prefs-button button {
		fill: #9BA8BB !important;
	}
	.prefs-button button:hover,
	.prefs-button button:focus {
		background-color: transparent !important;
	}
	.contentSearchSuggestionTable {
		display: none !important;
	}
	.search-handoff-button {
		box-shadow: none !important;
	}
}
:root {
	--in-content-border-active: var(--Primary) !important;
	--in-content-border-active-shadow: none !important;
	--in-content-page-background: var(--Background) !important;
}
@-moz-document url("about:home"),
url("about:newtab") {
	.icon.icon-pin-small {
		display: none !important
	}
}
/* uBlock Origin */
@-moz-document url("moz-extension://cb34cddc-988c-418d-99ce-3e8e2acd7488/popup.html") {
	body {
		background-color: var(--Background) !important;
		color: var(--Foreground) !important;
	}
	h2 {
		background-color: var(--Background) !important;
		color: var(--Foreground) !important;
		font-weight: bold !important;
	}
	span {
		color: var(--Foreground) !important;
	}
	#extraTools {
		background-color: var(--Background) !important;
	}
	#extraTools svg {
		fill: var(--Foreground) !important;
	}
	#firewallContainer > div > span:first-child {
		background-color: var(--Background) !important;
		color: var(--Foreground) !important;
	}
	#appinfo {
		display: none !important;
	}
	#switch .fa-icon {
		fill: var(--Foreground) !important;
	}
	body.off #switch .fa-icon {
		fill: var(--Foreground) !important;
	}
	#rulesetTools .fa-icon {
		background-color: var(--Background) !important;
		fill: var(--Foreground) !important;
	}
	#rulesetTools .fa-icon:hover {
		background-color: var(--Background) !important;
		fill: var(--Foreground) !important;
	}
	#basicTools svg {
		fill: var(--Foreground) !important;
	}
	#basicTools span:hover {
		fill: var(--Foreground) !important;
	}
	#refresh {
		background-color: var(--Background) !important;
		fill: var(--Foreground) !important;
		border: none !important;
	}
	#refresh svg:hover,
	#refresh svg:active {
		fill: var(--Foreground) !important;
	}
	.nope {
		stroke: var(--Foreground) !important;
	}
	#firewallContainer > div > span:nth-child(2),
	#firewallContainer > div > span:nth-child(3) {
		background-color: #191925 !important;
	}
	#firewallContainer > div > span.allowRule.ownRule {
		background-color: #2ecc71 !important;
	}
	#firewallContainer > div > span.blockRule.ownRule {
		background-color: #e74c3c !important;
	}
	#firewallContainer > div > span.noopRule.ownRule {
		background-color: #555 !important;
	}
}

