
/*************************************************************************************************************************************************************************************************************************************************************

"userChrome.css" is a custom CSS file that can be used to specify CSS style rules for Floorp's interface (NOT internal site) using "chrome" privileges.
For instance, if you want to hide the tab bar, you can use the following CSS rule:

**************************************
#TabsToolbar {                       *
    display: none !important;        *
}                                    *
**************************************

NOTE: You can use the userChrome.css file without change preferences (about:config)

Quote: https://userChrome.org | https://github.com/topics/userchrome

************************************************************************************************************************************************************************************************************************************************************/

@charset "UTF-8";
@-moz-document url(chrome://browser/content/browser.xhtml) {
/* Please write your custom CSS under this line */
:root {
		--Foreground: #F9EFE3;
		--Foreground-Variant: #F9EFE3CC;
		--Foreground-Dark: #F9EFE366;
		--Foreground-Transparent: #F9EFE333;
		--Background: #041A1F;
		--Surface: #052229;
		--Surface-Variant: #072B33;
		--Surface-Alternative: #09343d;
		--Surface-Transparent: #00000066;
		--Surface-Transparent-Alternative: #00000033;
		--Primary: #1CCFEA;
		--Primary-Light: #00FFFF;
		--Primary-Dark: #16A5BB;
		--Primary-Transparent: #00FFFF80;
		--Secondary: #E72F6B;
		--Secondary-Transparent: #E72F6B80;
		--Secondary-Tri: #6BE72F;
		--Mast: var(--Surface-Alternative);
		--Mast-Transparent: #25283F80;
		--Mast-Variant: #2e324f;
		--Mast-Dark: #1c1e2f;
		--grey: #808080;
		--red: #F2303B;
		--red-old: #F44336;
		--orange: #ffb86c;
		--orange-old: #ea9d1c;
		--dark-orange: #1F1504;
		--green: #50fa7b;
		--green-old: #00E676;
		--blue: #8be9fd;
		--blue-dark: #120056;
		--yellow: #f1ff52;
		--blur: blur(40px) contrast(0.9) saturate(1.5);
		--blur-hover: blur(10px) contrast(0.9) saturate(1.5);
		--blur-variant: blur(5px) contrast(0.9) saturate(1.5);
		--blur-dark: var(--blur) brightness(66%);
		--blur-dark-hover: var(--blur-hover) brightness(66%);
		--blur-dark-variant: var(--blur-variant) brightness(66%);
		--blur-bright: var(--blur) brightness(110%);
		--blur-bright-hover: var(--blur-hover) brightness(110%);
		--blur-bright-variant: var(--blur-variant) brightness(110%);
		--Mast-Shadow: 0 0 8px 1px var(--Mast);
		--Mast-Variant-Shadow: 0 0 8px 1px var(--Mast-Variant);
		--Rounding: 8px;
		--Rounding-Bottom: 0 0 var(--Rounding) var(--Rounding);
		--Rounding-Top: var(--Rounding) var(--Rounding) 0 0;
		--Rounding-Left: var(--Rounding) 0 0 var(--Rounding);
		--Rounding-Right: 0 var(--Rounding) var(--Rounding) 0;
		--Rounding-Variant: 16px;
		--Rounding-Variant-Bottom: 0 0 var(--Rounding-Variant) var(--Rounding-Variant);
		--Rounding-Variant-Top: var(--Rounding-Variant) var(--Rounding-Variant) 0 0;
		--Rounding-Variant-Left: var(--Rounding-Variant) 0 0 var(--Rounding-Variant);
		--Rounding-Variant-Right: 0 var(--Rounding-Variant) var(--Rounding-Variant) 0;
		--Spinner: var(--Primary) transparent;
	
	  --in-content-page-background: transparent
		--page-color:	calc(var(--floorp-navigator-toolbox-bg-color) / rgba(0,0,0,0.5))
}
@keyframes hue-rotate {
	0% {
		filter: hue-rotate(0deg);
	}
	100% {
		filter: hue-rotate(360deg);
	}
}
@keyframes filter {
	0% {
		filter: hue-rotate(360deg) sepia(0);
	}
	50% {
		filter: hue-rotate(0) sepia(50%);
	}
	100% {
		filter: hue-rotate(360deg) sepia(0);
	}
}
@keyframes shift {
		to {
			background-position: -200% 0
		}
	}

/* show tab manager button even when tabs aren't overflowing -
   can instead use browser.tabs.tabmanager.enabled;true as well
   or skip this part if you want to retain the default behaviour */
#alltabs-button {
    display: -moz-box !important;
}

/* tab counter */
#TabsToolbar-customization-target {
    counter-reset: tabCount;
}
.tabbrowser-tab {
    counter-increment: tabCount;
}
#alltabs-button > .toolbarbutton-badge-stack > .toolbarbutton-icon {
    visibility: collapse !important;
}
#alltabs-button > .toolbarbutton-badge-stack {
    position: relative !important;
}
#alltabs-button > .toolbarbutton-badge-stack::before {
    content: counter(tabCount);
    border-bottom: 1px solid var(--toolbarbutton-icon-fill);
    color: var(--toolbarbutton-icon-fill);
    opacity: var(--toolbarbutton-icon-fill-opacity);
    position: absolute;
    bottom: var(--toolbarbutton-inner-padding);
    left: 50%;
    transform: translateX(-50%);
    padding: 0 3px;
}
#navigator-toolbox #personal-bookmarks {
	max-width: 48vw !important;
}


browser[primary="true"][tabDialogShowing="true"],
#main-window[window-modal-open="true"] > body > #browser{
  filter: var(--blur-variant) !important
}
.dialogBox {
	border-radius: var(--Rounding-Variant) !important;
	backdrop-filter: var(--blur-dark) !important;
}


/*
  _____ _   ___ ___
 |_   _/_\ | _ ) __|
   | |/ _ \| _ \__ \
   |_/_/ \_\___/___/

*/
body {
	background-color: var(--Surface-Transparent) !important;
}
.browser-toolbar:not(.titlebar-color) {
	background: none !important;
}
#tabbrowser-tabs:not([secondarytext-unsupported]) .tab-label-container {
	height: initial !important;
}
#TabsToolbar #firefox-view-button[open]:not(:focus-visible) > .toolbarbutton-icon:-moz-lwtheme, .tab-background[selected]:not([multiselected="true"]):-moz-lwtheme {
	outline: none !important;
}
.tab-text {
	font-family: var(--mff-tab-font-family);
	font-weight: var(--mff-tab-font-weight);
	font-size: var(--mff-tab-font-size) !important;
	color: var(--mff-tab-color);
}
#tabbrowser-tabs {
	--tab-loading-fill: #033433 !important;
}
.tabbrowser-tab[selected="true"] {
		transition: background-color ease 500ms !important;
		background-color: var(--floorp-navigator-toolbox-bg-color) !important;
	border-radius: 16px 16px 32px 32px !important;
	}
.tabbrowser-tab[soundplaying="true"]:not([selected="true"]) {
	background-color: transparent !important;
	background: linear-gradient(100deg, rgba(255, 0, 0, 1) 0%, rgba(255, 154, 0, 1) 10%, rgba(208, 222, 33, 1) 20%, rgba(79, 220, 74, 1) 30%, rgba(63, 218, 216, 1) 40%, rgba(47, 201, 226, 1) 50%, rgba(28, 127, 238, 1) 60%, rgba(95, 21, 242, 1) 70%, rgba(186, 12, 248, 1) 80%, rgba(251, 7, 217, 1) 90%, rgba(255, 0, 0, 1) 100%) 0 0/200% 100%;
	animation: shift 16s linear infinite;
	border-radius: 16px 16px 32px 32px !important;
}
.tab-icon-overlay[soundplaying]:not([crashed]),
.tab-icon-overlay[muted]:not([crashed]),
.tab-icon-overlay[activemedia-blocked]:not([crashed]),
hbox.tab-content[pinned=true] .tab-text,
.tab-line,
.tab-background {
	display: none !important;
}
#preferences-button {
	list-style-image: url("configure.svg") !important;
}

/*
  _____ ___   ___  _    ___   _   ___
|_   _/ _ \ / _ \| |  | _ ) /_\ | _ \
  | || (_) | (_) | |__| _ \/ _ \|   /
  |_| \___/ \___/|____|___/_/  \_\_|_\
*/
.urlbar-icon > image {
	fill: var(--mff-icon-color) !important;
	color: var(--mff-icon-color) !important;
}
.toolbarbutton-text {
	color: var(--mff-icon-color) !important;
}
.urlbar-icon {
	color: var(--mff-icon-color) !important;
}
#urlbar-results {
	font-family: var(--mff-urlbar-results-font-family);
	font-weight: var(--mff-urlbar-results-font-weight);
	font-size: var(--mff-urlbar-results-font-size) !important;
	color: var(--mff-urlbar-results-color) !important;
}
.urlbarView-row[type="bookmark"] > span {
	color: var(--green) !important;
}
.urlbarView-row[type="switchtab"] > span {
	color: var(--orange) !important;
}
.urlbarView-url,
.search-panel-one-offs-container {
	color: var(--mff-urlbar-results-url-color) !important;
	font-family: var(--mff-urlbar-font-family);
	font-weight: var(--mff-urlbar-results-font-weight);
	font-size: var(--mff-urlbar-font-size) !important;
}
.urlbarView-favicon,
.urlbarView-type-icon, #back-button, #forward-button {
	display: none !important;
}
#urlbar-input {
	font-size: var(--mff-urlbar-font-size) !important;
	color: var(--mff-urlbar-color) !important;
	font-family: var(--mff-urlbar-font-family) !important;
	font-weight: var(--mff-urlbar-font-weight)!important;
	text-align: center !important;
}
#back-button > .toolbarbutton-icon {
	--backbutton-background: transparent !important;
	border: none !important;
}
toolbar {
	background-image: none !important;
}
#navigator-toolbox,
toolbaritem {
	border: none !important;
}
.toolbar-items {
	background: none !important;
}
#sidebar-search-container {
	background-color: var(--mff-sidebar-bg) !important;
}
box.panel-arrowbox {
	display: none;
}
box.panel-arrowcontent {
	border-radius: 8px !important;
	border: none !important;
}
tab.tabbrowser-tab {
	overflow: hidden;
}
tab.tabbrowser-tab:hover {
	box-shadow: 0 1px 4px rgba(0, 0, 0, .05);
}
#page-action-buttons {
	display: none;
}
toolbar#nav-bar {
	padding: var(--mff-nav-toolbar-padding) !important;
}
toolbar#nav-bar {
	padding: 0 4px !important;
}
#urlbar-input:focus {
	color: var(--mff-urlbar-focused-color) !important;
}
toolbarbutton {
	box-shadow: none !important;
}
/*
  ___ ___ ___  ___ ___   _   ___
 / __|_ _|   \| __| _ ) /_\ | _ \
 \__ \| || |) | _|| _ \/ _ \|   /
 |___/___|___/|___|___/_/ \_\_|_\
*/
.close-icon,
.urlbar-icon {
	fill: var(--mff-icon-color) !important;
}
.sidebar-placesTree {
	color: var(--mff-sidebar-color) !important;
}
#sidebar-box {
	--sidebar-background-color: var(--mff-sidebar-bg) !important;
}
splitter#sidebar-splitter {
	opacity: 0 !important;
}
splitter#sidebar-splitter {
	border: none !important;
	background-color: transparent !important;
}
image#sidebar-icon {
	display: none;
}
/*
    _   ___ ___  _____      _____  _   _  _ ___ _
   /_\ | _ \ _ \/ _ \ \    / / _ \/_\ | \| | __| |
  / _ \|   /   / (_) \ \/\/ /|  _/ _ \| .` | _|| |__
 /_/ \_\_|_\_|_\\___/ \_/\_/ |_|/_/ \_\_|\_|___|____|
 */
.panel-arrowcontent {
	padding: 0px !important;
	margin: 0px !important;
}
/* Transparency */
#TabsToolbar,
#titlebar,
#main-window,
panelview,
#toolbar-menubar,
#navigator-toolbox,
#navigator-toolbox-background {
	-moz-appearance: none !important;
	background-color: transparent !important;
	background-image: none !important;
	box-shadow: none !important;
	border: none !important;
}
	#browser * {
	-moz-appearance: none !important;
	background-color: transparent !important;
	background-image: none !important;
	border-color: transparent !important;
}
#placesContext, #PlacesChevronPopup, #tabContextMenu, #downloadsPanel, #editBookmarkPanel, .textbox-contextmenu, #unified-extensions-panel {
	background-color: var(--Surface) !important;
}
:is(panelview .toolbarbutton-1, toolbarbutton.subviewbutton, .widget-overflow-list .toolbarbutton-1, .toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem="true"]) > toolbarbutton):not([disabled]):hover {
	background-color: #00ffff45 !important;
	border: 1px solid var(--Primary) !important;
}
.menupopup-arrowscrollbox, #toolbar-menubar {
	background: none !important;
}
menupopup,
panel {
	--panel-background: transparent !important;
	--panel-border-color: none !important;
}
.menupopup-arrowscrollbox, #customizationui-widget-panel::part(content), slot:nth-child(1) {
	box-shadow: none !important;
	margin: none !important;
}
#contentAreaContextMenu,
#toolbar-context-menu,
#appMenu-popup,
#customizationui-widget-panel,
menupopup > menu > menupopup {
		background-color: var(--floorp-navigator-toolbox-bg-color) !important;
}
#contentAreaContextMenu *,
#toolbar-context-menu * {
	border: none !important;
}
:is(menupopup,
panel)[type="arrow"] {
	--panel-background: transparent !important;
}
/*Context Menu*/
menupopup {
	-moz-appearance: none !important;
	background-color: transparent !important;
	color: var(--Foreground) !important;
	box-shadow: none !important;
	border: none !important;
	border-radius: 4px !important;
	padding: 4px 0 !important;
	color-scheme: dark !important;
}
menupopup menupopup {
	margin: -5px 0 0 -4px;
}
menubar > menu > menupopup {
	border-top-left-radius: 8px !important;
	border-top-right-radius: 8px !important;
}
menuitem[type="checkbox"] image,
menuitem[type="radio"] image {
	visibility: visible !important;
}
menuitem[disabled="true"]:hover,
menupopup menu[disabled="true"]:hover {
	background: transparent !important;
}
/* Don't show window control buttons */
#autohide-context,
#window-controls {
	display: none!important;
}
/* Remove icons from the main context menu */
#contentAreaContextMenu menuitem image,
#contentAreaContextMenu menu image {
	visibility: hidden;
}
#contentAreaContextMenu menugroup menuitem image {
	visibility: visible;
}
/* Feature recommendation notification, fix width */
#contextual-feature-recommendation-notification {
	width: auto !important;
}
#sidebar-search-container {
	-moz-appearance: none !important;
	border-radius: 6px !important;
	background-image: none !important;
	background-color: transparent !important;
}
#sidebar-search-container search-textbox {
	-moz-appearance: none !important;
	border-radius: 6px !important;
	background-image: none !important;
	background-color: var(--mff-bg) !important;
}
.sidebar-panel,
#sidebar-search-container > search-textbox {
	-moz-appearance: none !important;
	background-color: transparent !important;
	background-image: none !important;
}
#historyTree,
#sidebar {
	background-color: transparent !important;
}
#ContentSelectDropdownPopup {
	background-color: var(--Surface) !important;
}
#browser {
	-moz-appearance: none !important;
	background-color: var(--mff-bg) !important;
	background-image: none !important;
}
#browser #appcontent #tabbrowser-tabbox findbar,
#browser #appcontent #tabbrowser-tabbox tabpanels {
	-moz-appearance: none !important;
	background-color: transparent !important;
	background-image: none !important;
}
#browser #appcontent #tabbrowser-tabbox .findbar-find-fast {
	background-color: var(--mff-bg) !important;
}

#urlbar-background {
		background-color: var(--floorp-navigator-toolbox-bg-color) !important;
}
}
