[Desktop Entry]
Name=Story
Comment=KDE's Story Global Theme
X-KDE-PluginInfo-Author=l4k1
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=l4k1987@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Story
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1307864,kns://plasma-themes.knsrc/api.kde-look.org/1307855,kns://aurorae.knsrc/api.kde-look.org/1307863,kns://aurorae.knsrc/api.kde-look.org/1363219,kns://aurorae.knsrc/api.kde-look.org/1363221,kns://icons.knsrc/api.kde-look.org/1334700,kns://icons.knsrc/api.kde-look.org/1335436,kns://icons.knsrc/api.kde-look.org/1281798,kns://icons.knsrc/api.kde-look.org/1298508,kns://wallpaper.knsrc/api.kde-look.org/1363184,kns://wallpaper.knsrc/api.kde-look.org/1363181,kns://wallpaper.knsrc/api.kde-look.org/1318694,kns://wallpaper.knsrc/api.kde-look.org/1311644,kns://sddmtheme.knsrc/api.kde-look.org/1307861,kns://sddmtheme.knsrc/api.kde-look.org/1363209,kns://sddmtheme.knsrc/api.kde-look.org/1363214,kns://sddmtheme.knsrc/api.kde-look.org/1354402
